<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example 02 - computed, v-for and v-model</title>
  </head>
  <body>
    <div id="app">
      <div v-for="(fruit, index) in fruits" :key="index">
        <label :for="index">{{fruit.name}}</label>
        <input
          type="checkbox"
          name="fruits"
          :id="index"
          :value="fruit"
          v-model="selectedFruits"
        />
      </div>
      <br />
      You selected:
      <ul v-for="(name, index) in selectedFruitNames" :key="name + index">
        <li>{{name}}</li>
      </ul>
      <p>Total: {{totalPrice}}</p>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        fruits: [
          { name: "Avocado", price: 5.99 },
          { name: "Apple", price: 1.29 },
          { name: "Mango", price: 3.2 },
        ],
        selectedFruits: [],
      },
      computed: {
        totalPrice() {
          if (this.selectedFruits.length <= 0) return 0;
          else
            return this.selectedFruits
              .map((fruit) => fruit.price)
              .reduce((curr, next) => curr + next)
              .toFixed(2);
        },
        selectedFruitNames() {
          if (this.selectedFruits.length <= 0) return 0;
          else return this.selectedFruits.map((fruit) => fruit.name);
        },
      },
      methods: {},
    });
  </script>
</html>
